elasticsearch~=8.6.2
pandas~=1.5.3
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.3
SQLAlchemy==1.4.27
Flask-Script==2.0.6
Flask-Migrate==2.5.3
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.28.0
Werkzeug==2.0.3
Jinja2==3.0.0
itsdangerous==1.1.0
apispec==5.1.1
apispec-webframeworks==0.5.2
flask-swagger-ui==4.11.1